<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.GoodsMapper">

    <resultMap type="javabean.Goods" id="Goods">
        <id column="id" property="id"/>
        <result column="classfiy" property="classfiy"/>
        <result column="goodname" property="goodname"/>
        <result column="pro_num" property="proNum"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="unit" property="unit"/>
        <result column="imgurl" property="imgurl"/>
    </resultMap>

    <!--<select id="getUser" resultMap="usermap">-->
		<!--select * from users-->
	<!--</select>-->

    <!--<insert id="insert">-->
	    <!--insert into users (id, name, funkyNumber, roundingMode) values (-->
	    	<!--#{id}, #{name}, #{funkyNumber}, #{roundingMode}-->
	    <!--)-->
	<!--</insert>-->
    <select id="getGoodsNameByid" resultType="String">
        select goodname from goods where id = #{id}
    </select>

    <select id="getAllGoods" resultMap="Goods">
        select * from goods
    </select>

    <select id="getGoodsByid" resultMap="Goods">
        select * from goods where id = #{id}
    </select>


    <select id="getGoodsByKeyWord" resultMap="Goods">
        select * from goods where goodname like '%${keyword}%'
    </select>
    
    <update id="updateGoodsStock">
        update goods set stock = #{stock} where id = #{id};
    </update>






</mapper>